<h2 class="title">単語テスト</h2>
<p class ="problem-state">次の日本語を英語に、英語を日本語に直しましょう</p>

<div class="container">
<ul>
  
  <% @words.each do |word| %>
  <div class="content-wrapper">
    <li>
      
   <div class="word"> 
      <%= word.word %>
    </div>
    
    <div class="meaning">
      <%= word.meaning %>
    </div>
    
    <br>
    
    </li>
    </div>
  <% end %>
</ul>
</div>