<h2 class="title">単語テスト</h2>
<p class ="problem-state">次の英語を日本語に直しましょう</p>

<div class="container">
<ul>
  
  <% i=1 %>
  <% @words.each do |word| %>
  <div class="content-wrapper">
    <li>
      
    <div class="number">
      <%= "(#{i})" %>
    </div>
      
   <div class="problem"> 
      <%= word.word %>
    </div>
    
    <div class="answer">
      __________________
    </div>
    
    <br>
    
    </li>
    </div>
    <% i+=1 %>
  <% end %>
</ul>
</div>