<!DOCTYPE html>
<html lang="jp" dir="ltr">
 
<head>
    <meta charset="UTF-8">
    <title>test</title>
<style>
@font-face {
  font-family: "IPA明朝";
  src: url('/home/ubuntu/environment/vocabulary_test_app/app/assets/fonts/ipaexm.ttf') format('truetype');
}

body {
            width: 90%;
            text-align: center;
            font-family:"IPA明朝";
            font-size: 20px;
}
 
ul {
  list-style: none;
}
.title{
    text-align: center;
}
.container{
    display: block;
    margin: 0 170px;
}

.content-wrapper{
    margin:20px 0;
}
.word{
    float: left;
}
  
.meaning{
    float: right;
}
</style>
</head>
 
<body>
    <div>
        <%= yield %>
    </div>
</body>
 
</html>