<!DOCTYPE html>
<html lang="jp" dir="ltr">
 
<head>
    <meta charset="utf-8">
    <title>test</title>
    <style>
        body {
            width: 90%;
            text-align: center;
        }
 
        ul {
  list-style: none;
}
.container{
    display: block;
    margin-left: 170px;
    margin-right: 170px;
}

  .word{
    float: left;
  }
  
  .meaning{
    float: right;
      
  }
    </style>
</head>
 
<body>
    <div>
        <%= yield %>
    </div>
</body>
 
</html>