<!DOCTYPE html>
<html lang="jp" dir="ltr">
 
<head>
    <meta charset="UTF-8">
    <title>test</title>
<style>
@font-face {
  font-family: "IPA明朝";
  src: url("/home/ubuntu/environment/vocabulary_test_app/app/assets/fonts/ipaexm.ttf") format('truetype');
}

body {
        
            text-align: center;
            font-family:"IPA明朝";
            font-size: 20px;
}
 
ul {
  list-style: none;
}
.title{
    text-align: center;
}
.problem-state{
    
}
.container{
    display: block;
    margin-left:  100px;
    margin-right:  70px;
}

.content-wrapper{
    margin:50px 0;
}
.number{
    float: left;
    text-align: center;
}
.problem{
    float: left;
}
  
.answer{
    float: right;
}
</style>
</head>
 
<body>
    <div>
        <%= yield %>
    </div>
</body>
 
</html>